@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}
/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


/* .max-h-Custscreen{
	max-height: 76vh;
} */

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}

.border-red-500 {
  border-color: rgba(239, 68, 68, 1); /* Adjust the color here if needed */
}

.border-4 {
  border-width: 4px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.transition-all {
  transition: all 0.5s ease-in-out;
}
